on:
  push:
    branches:
      - main

name: Deploy website on push

jobs:
  web-deploy:
    name: Deploy 
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v2.3.2

      - name: Sync Files
        uses: SamKirkland/FTP-Deploy-Action@4.0.0
        with:
          server: premium247.web-hosting.com 
          username : ${{ secrets.ftp_username }}
          password: ${{ secrets.ftp_password }}
          server-dir: /pie.jitudevops.com
